.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# VS Code
.vscode/

# Node
node_modules/

# Vite
dist/

# Docker
postgres_data/

# macOS
.DS_Store

# Windows
Thumbs.db